<div id="form-data" class="formbold-main-wrapper" style="display: block;">
  <!-- Author: FormBold Team -->
  <!-- Learn More: https://formbold.com -->
  <div class="formbold-form-wrapper">

    <!-- <img src="your-image-url-here.jpg"> -->

    <!-- <form method="POST"> -->
    <div class="formbold-form-title">
      <h2 class="">TDS Calculator</h2>
      <p>
        Check your Payable as per Old as well as New Regimes
      </p>
    </div>

    <div class="formbold-input-flex">
      <div>
        <label for="firstname" class="formbold-form-label">
          Full Name<b style="color: red;">*</b>
        </label>
        <input type="text" name="firstname" id="firstname" class="formbold-form-input" />
      </div>
      <div>
        <label for="lastname" class="formbold-form-label"> Gender <b style="color: red;">*</b> </label>
        <input type="text" name="lastname" id="lastname" class="formbold-form-input" />
      </div>
    </div>

    <div class="formbold-input-flex">
      <div>
        <label for="email" class="formbold-form-label"> Email </label>
        <input type="email" name="email" id="email" class="formbold-form-input" />
      </div>
      <div>
        <label for="phone" class="formbold-form-label"> Age <b style="color: red;">*</b> </label>
        <input type="number" name="phone" id="phone" class="formbold-form-input" />
      </div>
    </div>

    <div class="formbold-mb-3">
      <label for="address" class="formbold-form-label">
        Street Address
      </label>
      <input type="text" name="address" id="address" class="formbold-form-input" />
    </div>

    <div class="formbold-mb-3">
      <label for="address2" class="formbold-form-label">
        Street Address Line 2
      </label>
      <input type="text" name="address2" id="address2" class="formbold-form-input" />
    </div>

    <div class="formbold-form-title">
      <h4 class="">Monthly Salary </h4>

    </div>

    <div class="formbold-input-flex">
      <div>
        <label for="state" class="formbold-form-label"> April </label>
        <p style="font-size: 13px;">
          <input (change)="fieldsChange($event)" value="angular" type="checkbox" />
          Reflect to all Months
        </p>



        <input type="text" name="state" id="April" class="formbold-form-input" />
      </div>

      <div>
        <label for="state" class="formbold-form-label"> May </label>
        <input type="text" name="state" id="May" class="formbold-form-input" />
      </div>
      <div>
        <label for="state" class="formbold-form-label"> June </label>
        <input type="text" name="state" id="June" class="formbold-form-input" />
      </div>
      <div>
        <label for="country" class="formbold-form-label"> July </label>
        <input type="text" name="country" id="July" class="formbold-form-input" />
      </div>
    </div>

    <div class="formbold-input-flex">
      <div>
        <label for="state" class="formbold-form-label"> August </label>
        <input type="text" name="state" id="August" class="formbold-form-input" />
      </div>

      <div>
        <label for="state" class="formbold-form-label"> September </label>
        <input type="text" name="state" id="September" class="formbold-form-input" />
      </div>
      <div>
        <label for="state" class="formbold-form-label"> October </label>
        <input type="text" name="state" id="October" class="formbold-form-input" />
      </div>
      <div>
        <label for="country" class="formbold-form-label"> November </label>
        <input type="text" name="country" id="November" class="formbold-form-input" />
      </div>
    </div>

    <div class="formbold-input-flex">
      <div>
        <label for="state" class="formbold-form-label"> December </label>
        <input type="text" name="state" id="December" class="formbold-form-input" />
      </div>

      <div>
        <label for="state" class="formbold-form-label"> January </label>
        <input type="text" name="state" id="January" class="formbold-form-input" />
      </div>
      <div>
        <label for="state" class="formbold-form-label"> February </label>
        <input type="text" name="state" id="February" class="formbold-form-input" />
      </div>
      <div>
        <label for="country" class="formbold-form-label"> March </label>
        <input type="text" name="country" id="March" class="formbold-form-input" />
      </div>
    </div>
    <div class="formbold-input-flex">
      <div>
        <label for="post" class="formbold-form-label"> Post/Zip code </label>
        <input type="text" name="post" id="post" class="formbold-form-input" />
      </div>
      <div>
        <label for="area" class="formbold-form-label"> Area Code </label>
        <input type="text" name="area" id="area" class="formbold-form-input" />
      </div>
    </div>

    <div style="background: #5880bf;  padding: 10px;">
      <h3 style="text-align: center; padding: 10px;">U/S 80 C - 150000 +50000</h3>

      <div class="formbold-input-flex">

        <div>
          <label for="firstname" class="formbold-form-label" style="color: white;">
            PPF/GPF
          </label>
          <input type="number" placeholder="Yearly Amount" name="rentpaid" id="ppf" class="formbold-form-input" />
        </div>
      </div>
      <div class="formbold-input-flex">
        <div>
          <label for="firstname" class="formbold-form-label" style="color: white;">
            Rent Arrears
          </label>
          <input type="number" placeholder="Yearly Amount" name="rentpaid" id="rent_arrears"
            class="formbold-form-input" />
        </div>


      </div>
      <div class="formbold-input-flex">

        <div>
          <label for="firstname" class="formbold-form-label" style="color: white;">
            LIC (Certify that the policy/policies is/are paid by self only)
          </label>
          <input type="number" placeholder="Yearly Amount" name="lic" id="lic" class="formbold-form-input" />
        </div>
      </div>
      <div class="formbold-input-flex">
        <div>
          <label for="firstname" class="formbold-form-label" style="color: white;">
            Sukanya deposit
          </label>
          <input type="number" placeholder="Yearly Amount" name="sukanya_deposit" id="sukanya_deposit"
            class="formbold-form-input" />
        </div>


      </div>
      <div class="formbold-input-flex">

        <div>
          <label for="firstname" class="formbold-form-label" style="color: white;">
            GIS/NSC
          </label>
          <input type="number" placeholder="Yearly Amount" name="gis" id="gis" class="formbold-form-input" />
        </div>
      </div>
      <div class="formbold-input-flex">
        <div>
          <label for="firstname" class="formbold-form-label" style="color: white;">
            Tuition Fee (other than reimbursed by office)
          </label>
          <input type="number" placeholder="Yearly Amount" name="tution_fees" id="tution_fees"
            class="formbold-form-input" />
        </div>


      </div>
      <div class="formbold-input-flex">

        <div>
          <label for="firstname" class="formbold-form-label" style="color: white;">
            NPS (other than deducted by office)
          </label>
          <input type="number" placeholder="Yearly Amount" name="nps_other" id="nps_other"
            class="formbold-form-input" />
        </div>
      </div>
      <div class="formbold-input-flex">
        <div>
          <label for="firstname" class="formbold-form-label" style="color: white;">
            Post office time deposits
          </label>
          <input type="number" placeholder="Yearly Amount" name="post_office" id="post_office"
            class="formbold-form-input" />
        </div>


      </div>
      <div class="formbold-input-flex">

        <div>
          <label for="firstname" class="formbold-form-label" style="color: white;">
            Repayment of principal amount of housing loan/HBA
          </label>
          <input type="number" placeholder="Yearly Amount" name="housing_loan_hba" id="housing_loan_hba"
            class="formbold-form-input" />
        </div>
      </div>
      <div class="formbold-input-flex">
        <div>
          <label for="firstname" class="formbold-form-label" style="color: white;">
            Any other allowed Investment if any, specify
          </label>
          <input type="number" placeholder="Yearly Amount" name="other_any" id="other_any"
            class="formbold-form-input" />
        </div>


      </div>


    </div>

    <div style="background: #7f8998;  padding: 10px; margin-top: 20px;">
      <h3 style="text-align: center; padding: 10px;">U/S 80 D - 25000
      </h3>
      <p style="color: white; padding-bottom: 10px;">
        1) Medical Insurance Premium, including premium for parents (Max. Limit Rs. 25,000/-) <br />
        2) Payment for Preventive Health Check-up (Max. Limit Rs. 5,000/-) <br />
        3) Amount paid on account of medical expenditure (Original bills to be submitted. <br /> It is advisable
        to keep
        photocopy of the same for your own reference.) <br /> incurred on the health of the assesse or any member
        of his
        family, who is a senior citizen and no amount has been paid to effect or to keep in force insurance on the
        health of such person (Max. Limit Rs. 50,000/-) <br />
        Note: (a) Maximum limit of <br /> (1) will be reduced to the extent claim in <br /> (2) has been availed.
        <br />
        (b) Total of (1), (2) and (3) not to exceed Rs. 50,000.
      </p>

      <div class="formbold-input-flex">

        <div>
          <label for="firstname" class="formbold-form-label" style="color: white;">
            Self Insurance
          </label>
          <input type="number" name="self-insurance" placeholder="Yearly Amount" id="self-insurance"
            class="formbold-form-input" />
        </div>
      </div>
      <div class="formbold-input-flex">
        <div>
          <label for="firstname" class="formbold-form-label" style="color: white;">
            Parents Insurance
          </label>
          <input type="number" name="parent_insurance" placeholder="Yearly Amount" id="parent_insurance"
            class="formbold-form-input" />
        </div>
      </div>
      <div class="formbold-input-flex">
        <div>
          <label for="firstname" class="formbold-form-label" style="color: white;">
            Any Parents age is above 60 Years
          </label>
          <select class="formbold-form-input" name="parent_age_above_60" id="parent_age_above_60">
            <option value="NO">NO</option>
            <option value="YES">YES</option>

          </select>
        </div>


      </div>






    </div>

    <div style="background: #5880bf;  padding: 10px; margin-top: 20px;">
      <h3 style="text-align: center; padding: 10px;">U/S 80 DD
      </h3>


      <div class="formbold-input-flex">

        <div>
          <label for="firstname" class="formbold-form-label" style="color: white;">
            Maintenance / Treatment of Handicapped dependent or deposit for maintenance of Handicapped<br />
            dependent who is person with disability <br /> (max. Rs.75,000/- for disability and Rs.1,25,000/- for
            severe disability 80% and above).
          </label>
          <input type="number" name="Handicapped-dependent" placeholder="Yearly Amount" id="Handicapped-dependent"
            class="formbold-form-input" />
        </div>
      </div>
    </div>

    <div style="background: #7f8998;  padding: 10px; margin-top: 20px;">
      <h3 style="text-align: center; padding: 10px;">*U/S 80 G
      </h3>


      <div class="formbold-input-flex">

        <div>
          <label for="firstname" class="formbold-form-label" style="color: white;">
            Donation should be made only to specified Fund (Prime Minister’s Relief Fund, Chief Minister’s
            Relief Fund or Lt. Governor’s Relief Fund).<br /> Rebate for any other donation should be claimed
            directly.
          </label>
          <input type="number" name="Handicapped-dependent" placeholder="Yearly Amount" id="Handicapped-dependent"
            class="formbold-form-input" />
        </div>
      </div>
    </div>

    <div style="background: #5880bf;  padding: 10px; margin-top: 20px;">
      <h3 style="text-align: center; padding: 10px;">U/S 80 U

      </h3>


      <div class="formbold-input-flex">

        <div>
          <label for="firstname" class="formbold-form-label" style="color: white;">
            Physical Disability (max. Rs.75,000/- for disability and Rs.1,25,000/- for severe disability).
          </label>
          <input type="number" name="physical-disability" placeholder="Yearly Amount" id="physical-disability"
            class="formbold-form-input" />
        </div>
      </div>
    </div>

    <div style="background: #7f8998;  padding: 10px; margin-top: 20px;">
      <h3 style="text-align: center; padding: 10px;">U/S 24 (1) (b)
      </h3>


      <div class="formbold-input-flex">

        <div>
          <label for="firstname" class="formbold-form-label" style="color: white;">
            Interest on Housing Loan up to Rs.2,00,000/- (Rs.3,00,000 for senior citizen)
          </label>
          <input type="number" name="interest-on-housing" placeholder="Yearly Amount" id="interest-on-housing"
            class="formbold-form-input" />
        </div>
      </div>
    </div>

    <div style="background: #5880bf;  padding: 10px; margin-top: 20px;">
      <h3 style="text-align: center; padding: 10px;">U/S 10 (13A)

      </h3>


      <div class="formbold-input-flex">

        <div>
          <label for="firstname" class="formbold-form-label" style="color: white;">
            Rent Paid (For HRA exemption, employees should provide self-attested copy of rent agreement and rent
            receipts/Bank statement for all months i.e. from April 2024 to March 2025).
            Enclose photocopy of PAN of Landlord where Rent per month is above Rs. 8333/-
          </label>
          <input type="number" name="us10" placeholder="Yearly Amount" id="us10" class="formbold-form-input" />
        </div>
      </div>
    </div>

    <div style="background: #7f8998;  padding: 10px; margin-top: 20px;">
      <h3 style="text-align: center; padding: 10px;">U/S 80EEA
      </h3>


      <div class="formbold-input-flex">

        <div>
          <label for="firstname" class="formbold-form-label" style="color: white;">
            Additional Deduction for Interest on Home Loan
          </label>
          <input type="number" name="home-loan-additional" placeholder="Yearly Amount" id="home-loan-additional"
            class="formbold-form-input" />
        </div>
      </div>
    </div>

    <div style="background: #5880bf;  padding: 10px; margin-top: 20px;">
      <h3 style="text-align: center; padding: 10px;">U/S 80 EEB

      </h3>


      <div class="formbold-input-flex">

        <div>
          <label for="firstname" class="formbold-form-label" style="color: white;">
            Deduction for Interest on Loan taken to Buy Electrical Vehicle
          </label>
          <input type="number" name="electrical-vehical-loan" placeholder="Yearly Amount" id="electrical-vehical-loan"
            class="formbold-form-input" />
        </div>
      </div>
    </div>


    <div style="background: #7f8998;  padding: 10px; margin-top: 20px;">
      <h3 style="text-align: center; padding: 10px;">U/s. 80GG
      </h3>


      <div class="formbold-input-flex">

        <div>
          <label for="firstname" class="formbold-form-label" style="color: white;">
            Rent paid in excess of 10% of total income for furnished/unfurnished residential accommodation
            (subject to maximum of Rs. 5,000 p.m. or 25% of total income, whichever is less)
          </label>
          <input type="number" name="residential_accommodation" placeholder="Yearly Amount"
            id="residential_accommodation" class="formbold-form-input" />
        </div>
      </div>
    </div>





    <button class="formbold-btn" (click)="onSubmit(1)">Calculate</button>
    <!-- </form> -->
  </div>
</div>

<div id="form-data-output" class="formbold-main-wrapper" style="display: none;">
  <!-- Author: FormBold Team -->
  <!-- Learn More: https://formbold.com -->
  <div class="formbold-form-wrapper">

    <!-- <img src="your-image-url-here.jpg"> -->

    <!-- <form method="POST"> -->
    <div class="formbold-form-title">
      <h2 class="">TDS Calculator</h2>
      <p>
        Check your Payable as per Old as well as New Regimes
      </p>
    </div>

    <div style="background: #7f8998;  padding: 10px; margin-top: 20px;">
      <h3 style="text-align: center; padding: 10px;">HRA Calculations
      </h3>

      <div class="formbold-input-flex">

        <div>
          <label for="firstname" class="formbold-form-label" style="color: white;">
            Total Rent paid
          </label>
          <input type="number" (change)="calculateHRA()" name="total_rent_paid" placeholder="Yearly Amount"
            id="total_rent_paid" class="formbold-form-input" />
        </div>
      </div>
      <div class="formbold-input-flex">

        <div>
          <label for="firstname" class="formbold-form-label" style="color: white;">
            IS Metro City
          </label>
          <select class="formbold-form-input" (change)="calculateHRA()" name="is_metro_city" id="is_metro_city">
            <option value="YES">YES</option>
            <option value="NO">NO</option>
          </select>
        </div>

        <button class="formbold-btn" (click)=calculateHRA() style="width: 100%;">Calculate</button>
      </div>


      <div class="formbold-input-flex" style="background-color: #49634d; border-radius: 5px; padding: 10px;">

        <div>
          <label for="firstname" class="formbold-form-label" style="color: white; font-size: 20px;">
            Percentage of basic Salary :: {{Percentage_Of_Basic_Salary}}
          </label>

          <label for="firstname" class="formbold-form-label" style="color: white; font-size: 20px;">
            Calculated Basic Salary :: {{Basic_Salary_HRA}}
          </label>

          <label for="firstname" class="formbold-form-label" style="color: white; font-size: 20px;">
            Actual Rent :: {{Percentage_Of_Basic_Salary}}
          </label>

          <label for="firstname" class="formbold-form-label" style="color: white; font-size: 20px;">
            Actual Rent Paid 10% of Basic Salary :: {{Percentage_Of_Basic_Salary}}
          </label>

          <label for="firstname" class="formbold-form-label" style="color: white; font-size: 20px;">
            Deduction allowed :: {{Percentage_Of_Basic_Salary}}
          </label>

        </div>
      </div>

    </div>




    <button class="formbold-btn" (click)="onSubmit(0)">Edit Data</button>
    <!-- </form> -->
  </div>
</div>